<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ejs</title>
</head>
<body>
    <div>
        <ul>
            <% for(var i = 0;i<list.length;i++){
                if(list[i].num>3){
            %>
            <li><%= list[i].num %></li>
            <% }} %>
        </ul>
    </div>
</body>
</html>