doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title=title
        script.
            for (var i = 0; i < 100; i++){
                console.log(i);
            }
    body
        div
            a(href="http://www.baidu.com") 百度
        div Lorem ipsum dolor sit amet.
            p 短文本
            p.
                长文本
                可以换行
                换行
            p
                | foo bar baz
                | rawr rawr
                | super cool
                | go jade go

        div
            p This text belongs to the paragraph tag.
            br
            .
                This text belongs to the div tag.

